@charset "utf-8";
.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/nen1.jpg);
    height: 750px;
    padding-top: 62px;
}

.box-form {
    height: 550px;
    width: 40%;
    margin: auto;
    background-color: rgba(252, 219, 176, 0.514);
    border-radius: 10px;
}

form>img {
    margin-top: 10px;
}

.form {
    padding: 55px;
}
h3{
    margin-bottom: 20px;
}

.form-floating {
    margin: 10px 0;
}

.form-signin {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}


.form-signin .form-floating:focus-within {
    z-index: 2;
}

button{
    margin-top: 25px;
}
