@charset "UTF-8";

.box {
	width: 100%;
	margin: 50px 0;
	padding: 0 50px;
}

.poster {
	float: left;
	width: 40%;
	min-height: 200px;
	/* background-color: aqua; */
}

.image {
	width: 95%;
	min-height: 200px;
	/* margin: auto; */
	background-color: aliceblue;
	border: 1px solid lightgrey;
}
.image>img{
	width: 100%;
}
.poster>div>input{
	width: 95%;
	margin-top: 20px
}

.input {
	float: right;
	width: 60%;
	min-height: 200px;
	/* background-color: rgb(15, 50, 50); */
}

.form-floating>input {
	height: 10px;
	margin-bottom: 13px;
}

.descript {
	clear: both;
	min-height: 200px;
	padding-left: 20px;
	padding-top: 20px;
}

.descript>div>button {
	margin-right: 20px;
	width: 100px;
}

.nut {
	margin: 0 3px;
}

.count {
	margin-left: 10px;
}